<% include ../partials/header.ejs%>

<header class="header">
    <h1 class="header_heading"><i class="fas fa-laptop"></i>

<span id="lampe"><span class="pawel_l">L</span><span class="pawel_a">a</span><span class="pawel_m">m</span><span class="pawel_p">p</span><span class="pawel_e" >e</span></span></span><span id="and">&</span><span id="vodka"><span class="ivan_v">V</span><span class="ivan_o">o</span><span class="ivan_d">d</span><span class="ivan_k">k</span><span class="ivan_a">a</span></span></h1>
    <!--<div class="linkContainer">-->
        <li class="link link1"><a href="/kontakt">Kontakt Oss</a></li>
        <li class="link link2"><a href="/om">Om Oss</a></li>
        <li class="link link3"><a href="/hjem">Hjem</a></li>
        <li class="link link4"><a href="/meir">Meir</a></li>
   <!-- </div>-->
</header>

<section id="section_1" class="section_1"></section>


<!--<section class="section_2">-->
    <!--<article class="article one">
        <img alt="" src="https://www.javatpoint.com/images/javascript/javascript_logo.png"/>
        <div class="descriptionContainer"><h3 class="skillDescription">Programmeringsspråk for å gi logikken til nettsida<!--Språk for å skrive og forme content på ei nettside--></h3></div>
        <!--<a class="goFurtherButton">Vis Meir</a>
    </article>-->
    <!--<article class="article two">
        <img alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/2000px-CSS.3.svg.png"/>
        <div class="descriptionContainer"><h3 class="skillDescription">Språk for å gi bedre skikk til nettsida</h3></div>
        <a class="goFurtherButton">Vis Meir</a>
    </article>-->
   <!-- <article class="article three">
        <img alt="" src="http://syntaxxx.com/wp-content/uploads/2014/08/html5-logo-600-580x580.jpg"/>
        <div class="descriptionContainer"><h3 class="skillDescription">Språk for å skrive og forme content på ei nettside<!--Programmeringsspråk for å gi logikken til nettsida--></h3></div>
        <!--<a class="goFurtherButton">Vis Meir</a>
    </article>-->
<!--</section>-->


<!--<section class="section_3">-->
   <!-- <article class="article four">
        <img alt="" src="https://images.g2crowd.com/uploads/product/hd_favicon/1487566661/express-js.png"/>
        <div class="descriptionContainer"><h3 class="skillDescription">Er framework for å forenkle oppbygning av serverer</h3></div>
        <a class="goFurtherButton">Vis Meir</a>
    </article>-->
   <!-- <article class="article five">
        <img alt="" src="https://www.edc4it.com/images/blog/mongodb.png"/>
        <div class="descriptionContainer"><h3 class="skillDescription">Er ei ikkje-relasjoner database som holder på informasjon</h3></div>
        <a class="goFurtherButton">Vis Meir</a>
    </article>-->
    <!--<article class="article six">
        <img alt="" src="https://cdn-images-1.medium.com/max/960/1*pxfq-ikL8zPE3RyGB2xbng.png"/>
        <div class="descriptionContainer"><h3 class="skillDescription">Er servermiljø for å svare på innspørsel</h3></div>
        <a class="goFurtherButton">Vis Meir</a>
    </article>-->
<!--</section>-->

 <% skills.forEach(function(skill) { %>
    <article style="height: 200px" class="article">
        <img style="width: 50px; height: 50px" src="<%=skill.image%>">
        <h1 style="text-align: center"><%=skill.name%></h1>
        <p><%=skill.desacription%></p>
        <a href="/skills/<%=skill._id%>" class="goFurtherButton">Vis</a>
    </article>
    <% });  %>
    
    <a href="/new_skill" class="hugeButton">Create A New Skill</a>

<footer class="footer">
    
    <h6>Ta kontakt med oss: 038 399 3883 9339 3993 399</h6><br>
    <h6>Email: <span id="email">korchaginivan6@gmail.com</span></h6><br>
    <h6>Copyright Ivan Korchagin and Pawel Lampe &copy</h6><br>

</footer>

<% include ../partials/footer.ejs%>
